.diagram-list{
  padding-left: 25px;
  padding-top: 22px;
  margin-top: 117px;
  width: 245px;
  border-right: 1px solid #E9ECEF;
  position: relative;
  min-height: calc(100vh - 117px);
  &::after {
    position: absolute;
    content: ' ';
    width: calc(1280px - 245px);
    height: 100%;
    background: #F6F7F9;
    left: 245px;
    top: 0px;
  }
}
