.App-button{
  width: 140px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #007DFF;
  border-radius: 4px;
  font-family: HelveticaNeue-Medium;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
}
