.timeLine-slot {
  &-occupied {
    cursor: pointer;
    position: absolute;
    background: #d5dfe9;
    height: 100%;
    &:hover {
      background: #99a9b9;
    }
    &:active {
      background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)),
        linear-gradient(#98a9b9, #98a9b9);
    }
  }
}
