.editing-button {
  font-family: HelveticaNeue-Medium;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  height: 36px;
  line-height: 36px;
  padding: 0px 16px;
  background: #e9ecef;
  border-radius: 4px;
  margin-left: 16px;
  user-select: none;
  cursor: pointer;
  &:hover {
    background: linear-gradient(rgba(0, 16, 33, 0.05), rgba(0, 16, 33, 0.05)),
      linear-gradient(#e9ecef, #e9ecef);
  }
  &:active {
    background: linear-gradient(rgba(4, 29, 56, 0.14), rgba(4, 29, 56, 0.14)),
      linear-gradient(#e9ecef, #e9ecef);
  }
  &-disabled {
    background: #e2e5e8;
    font-family: HelveticaNeue-Medium;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.2);
    letter-spacing: 0;
    pointer-events: none;
  }
  @media screen and (max-width: 640px) {
    height: 44px;
    line-height: 44px;
  }
  &:first-child {
    margin-left: 0px;
  }
}
