.editing-input {
  background: #ffffff;
  border: 2px solid #e9ecef;
  border-radius: 4px;
  padding-left: 10px;
  height: 38px;
  line-height: 38px;
  width: 100%;
  font-family: HelveticaNeue;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0.47px;
  @media screen and (max-width: 640px) {
    height: 44px;
    line-height: 44px;
    font-size: 15px;
  }
  &:hover {
    border-color: #007dff;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
  &::placeholder {
    color: #858e98;
  }

  &-title {
    font-family: HelveticaNeue-Bold;
    font-size: 13px;
    color: #000000;
    margin-bottom: 4px;
  }
}
