.meetingroom{
  display: flex;
  height: 44px;
  margin-top: 4px;
  margin-bottom: 4px;
  @media screen and (max-width: 360px) {
    margin: 0px;
    background: #FFFFFF;
    height: 58px;
    border-bottom: 2px solid #E9ECEF;
  }
  &-description{
    flex: 0 0 220px;
    position: relative;
    @media screen and (max-width: 360px) {
      flex: 0 0 181px;
      padding-left: 16px;
      border-right: 1px solid #E9ECEF;
    }
  }

  &-name{
    margin-top: 4px;
    font-family: HelveticaNeue-Medium;
    font-size: 15px;
    color: #000000;
    line-height: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &#{&}-hover{
      font-family: HelveticaNeue-Bold;
      color: #0070E0;
    }

    @media screen and (max-width: 360px) {
      width: 140px;
      margin-top: 12px;
    }
    &-swipe {
      background: #FFFFFF;
      box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
      border-radius: 4px;
      position: absolute;
      font-family: HelveticaNeue-Bold;
      font-size: 11px;
      color: #262626;
      letter-spacing: 0.4px;
      padding: 8px;
      padding-top: 5px;
      padding-bottom: 6px;
      z-index: 6;
      opacity: 1;
      transition: all 0.2s ease-out;
       &.hidden{
         opacity: 0;
       }
    }
  }

  &-capacity{
    margin-top: 2px;
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #000000;
    line-height: 17px;
    @media screen and (max-width: 360px) {
      margin-top: 3px;
    }
  }

}
