$header-height: 72px;
$footer-height: 77px;
$row-botom-margin: 24px;

.editing-main{
  margin: 0 auto;
  padding-top: #{$header-height + 31px};
  width: 872px;
  min-height: calc(100vh - #{ $footer-height +$row-botom-margin});
}

.exit-button{
  width: 24px;
  height: 24px;
  background: #E9ECEF;
  border-radius: 100px;
  background-repeat:no-repeat;
  background-position: center;
  background-image: url('../assets/close.svg');
}

.editing-header-title{
  font-family: HelveticaNeue-Bold;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
}

.row{
  display: flex;
  flex-grow: 100%;
  justify-content: space-between;
  margin-bottom: $row-botom-margin;
  &:nth-child(1){
    margin-bottom: 20px;
  }
}

.editing-bottom{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  border-top: 1px solid  #E9ECEF;
}
