.App-logo {
  width: 175px;
  height: 26px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E9ECEF;
  height: 72px;
  padding: 25px;
}
