.App-timeline {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: calc(100vw - 245px);
  @media screen and (max-width: 640px) {
    padding-left: 181px;
    width: 1056px;
    flex: 0 0 1056px;
  }
  &-hour {
    font-family: HelveticaNeue-Bold;
    font-size: 11px;
    color: #858e98;
    letter-spacing: 0.4px;
    width: 6.25%;
    @media screen and (max-width: 640px) {
      flex: 0 0 66px;
    }
    text-align: center;
    position: relative;
    &-line {
      position: absolute;
      top: 28px;
      left: 50%;
      width: 1px;
      height: 1000px;
      background: rgba(19, 100, 205, 0.1);
      z-index: 10;
      @media screen and (max-width: 640px) {
        top: 22px;
      }
    }
  }
}

.App-timeline-currtime {
  position: absolute;
  top: 20px;
  left: 50%;
  @media screen and (max-width: 640px) {
    // 1056px / 2 + 181 || totalLength / 2 + padding-left = 50%
    left: 709px;
  }
  width: 1px;
  height: 1000px;
  background: #007dff;
  z-index: 10;
  &-data {
    position: absolute;
    left: -23px;
    top: -7px;
    @media screen and (max-width: 640px) {
      top: -13px;
    }
    font-family: HelveticaNeue-Bold;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.4px;
    width: 49px;
    height: 20px;
    background: #007dff;
    border-radius: 100px;
    z-index: 10;
  }
}
