.App-timeline{
  display: inline-flex;
  align-items: center;
  &-time{
    font-family: HelveticaNeue-Bold;
    font-size: 11px;
    color: #858E98;
    letter-spacing: 0.4px;
    width: 49px;
    text-align: center;
    margin-left: 8.5px;
    margin-right: 8.5px;
    position: relative;
  }
}

.App-timeline-time-line{
  position: absolute;
  top: 28px;
  left: 23.5px;
  width: 1px;
  height: 1000px;
  background: rgba(19,100,205,0.10);
  z-index: 10;
}
