.App-timeline{
  display: inline-flex;
  align-items: center;
  position: relative;
  @media screen and (max-width: 360px) {
    padding-left: 181px;
  }
  &-hour{
    font-family: HelveticaNeue-Bold;
    font-size: 11px;
    color: #858E98;
    letter-spacing: 0.4px;
    width: 66px;
    text-align: center;
    position: relative;
    &-line{
      position: absolute;
      top: 28px;
      left: 50%;
      width: 1px;
      height: 1000px;
      background: rgba(19,100,205,0.10);
      z-index: 10;
    }
  }
}


.App-timeline-currtime{
  position: absolute;
  left: 25%;
  font-family: HelveticaNeue-Bold;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.4px;
  width: 49px;
  height: 20px;
  background: #007DFF;
  border-radius: 100px;
  z-index: 10;
  &-line{
    position: absolute;
    top: 20px;
    left: 50%;
    width: 1px;
    height: 1000px;
    background: #007DFF;
    z-index: 10;

  }
}
