.App-time-panel {
  display: flex;
  height: 46px;
  border-bottom: 1px solid #e9ecef;
  position: fixed;
  max-width: 1280px;
  width: 100%;
  z-index: 10;
  background: #ffffff;
  margin-top: 72px;
  @media screen and (max-width: 640px) {
    margin-top: 104px;
    height: 33px;
  }
}
