.App-tooltip {
  position: fixed;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  top: 180px;
  left: 275px;
  width: 338px;
  background: #ffffff;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  border-radius: 8px;
  z-index: 11;
  @media screen and (max-width: 640px) {
    top: 400px;
    left: 40px;
    width: 360px;
  }
  //arrow
  &::before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
}

.App-tooltip-button {
  position: absolute;
  right: 8px;
  top: 8px;
  @media screen and (max-width: 640px) {
    right: 16px;
    top: 16px;
  }
  width: 24px;
  height: 24px;
  background: #e9ecef;
  border-radius: 100px;
  cursor: pointer;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.43;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/edit.svg");
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.tooltip-header {
  font-family: HelveticaNeue-Bold;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
  @media screen and (max-width: 640px) {
    font-family: HelveticaNeue-Bold;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
  }
}

.tooltip-details {
  margin-top: 2px;
  font-family: HelveticaNeue;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  line-height: 17px;
  @media screen and (max-width: 640px) {
    margin-top: 8px;
    font-family: HelveticaNeue;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
    line-height: 17px;
  }
}

.tooltip-participants {
  margin-top: 16px;
  display: flex;
  align-items: center;
  font-family: Helvetica;
  font-size: 13px;
  color: #c3c8cd;
  letter-spacing: 0;
  line-height: 17px;
  &-main {
    color: #000000;
  }
  @media screen and (max-width: 640px) {
    font-size: 15px;
  }
}

.tooltip-participants-main {
  display: flex;
  align-items: center;
  & .icon {
    margin-right: 8px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  @media screen and (max-width: 640px) {
    width: 32px;
    height: 32px;
  }
  border-radius: 50%;
  background: black;
}
