.timeline{
  flex: 0 0 calc(100vw - 245px);
  height: 28px;
  align-self: center;
  z-index: 5;
  position: relative;
  @media screen and (max-width: 640px) {
      height: 56px;
      flex: 0 0 1056px;
  }
}
