.timeLine-slot {
  &-free {
    cursor: pointer;
    position: absolute;
    background: #ffffff;
    height: 100%;
    &:hover {
      background: #1d54fe;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: " ";
        width: 12px;
        height: 12px;
        background: linear-gradient(
            to bottom,
            transparent 5px,
            #ffffff 5px,
            #ffffff 7px,
            transparent 7px
          ),
          linear-gradient(
            to right,
            transparent 5px,
            #ffffff 5px,
            #ffffff 7px,
            transparent 7px
          );
      }
    }
    &:active {
      background: #1d00fe;
    }
  }
  &-occupied {
    cursor: pointer;
    position: absolute;
    background: #d5dfe9;
    height: 100%;
    &:hover {
      background: #99a9b9;
    }
    &:active {
      background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)),
        linear-gradient(#98a9b9, #98a9b9);
    }
  }
}
