.multi-select{
  &-selected{
    width: 420px;
    padding-top: 4px;
    display: flex;
    flex-wrap:wrap;
  }

  &-item{
    display: flex;
    align-items: center;
    background: #E9ECEF;
    border-radius: 16px;
    margin-right: 8px;
    margin-top: 8px;
    & > span {
      margin-left: 8px;
      margin-right: 15px;
      white-space: nowrap;
      font-family: HelveticaNeue;
      font-size: 13px;
      color: #000000;
    }
    &:hover .multi-select-remove{
        background: #000000;
    }
  }

  &-remove{
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-repeat:no-repeat;
    background-position: center;
    margin-right: 8px;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url('../../../../../assets/close.svg');
    background: #AFB4B8;
  }
}
